<p>
.
</p>

<div class="container">
  <div class="row-fluid">
    <div class="col-lg-8" style="padding-left: 0px;">
      <iframe width="100%" height="350" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3335.6648325468277!2d6.8890909!3d51.1454415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8ccd564293cb3%3A0xb813bc6fd86377fb!2sSt.+Norbert!5e1!3m2!1sen!2sde!4v1527748032282&center=51.144415,6.893798&z=15"  frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="row-lg-4">
      <h2>Abo</h2>
      <address>
        <strong>St. Norbert
        </strong><br>
        Josef-Kleesattel-Straße 2-13<br>
        40595<br>
        Düsseldorf<br>
        Phone: 01234 567 890<br>
        E-Mail: addemail<br>
      </address>
    </div>
  </div>
</div>
