<div id="container">
  <app-navbar></app-navbar>

  <!--<div class="container">
    <div class="jumbotron">
      <h1>አቡነ ገ/መንፈስ ቅዱስ website</h1>
    </div>
  </div>-->

  <div id="content">
    <router-outlet></router-outlet>
    <i class="fa fa-check"></i>
  </div>

  <app-footer></app-footer>
</div>
