<!-- Header with Background Image -->
<header class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--<h5 class="display-3 text-center text-white mt-4">አቡነ ገ/መንፈስ ቅዱስ</h5>-->
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Events</h4>
          <p class="card-text">Find out the upcomming events</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Gallery</h4>
          <p class="card-text">Pictures from previous events</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Contact</h4>
          <p class="card-text">Visit us in Düsseldorf</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div><!-- /.container -->
