.main-header {
  height                  : 30vh;
  min-height              : 300px;
  background              : url("/assets/images/slider/IMG_8388.JPG") no-repeat scroll;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  background-size         : cover;
  -o-background-size      : cover;

}

.card {
  height : 100%;
}

