<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span data-toggle="collapse" data-target=".navbar-collapse.show"><a class="navbar-brand"  [routerLink]="['/home']">Home</a>
  </span>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/events']">Events</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <!-- TODO: Comment out login/protected pages from view to hide them.
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li> -->
      <!-- TODO: Remove 'protected' component and only use child protected components
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/protected']">Protected</a>
      </li> -->
    </ul>
  </div>
</nav>
