
<div class="media">
  <div class="media-left">
      dd.mm.yy
  </div>
  <div class="media-body">
    <!-- TODO: <a href (click)="routeToEventDetail()">
    <button (click)="goToEvent(id.value)">Read More</button>-->
    <h3 class="media-heading">{{ event.title }}</h3>
    <p>{{ event.description }}</p>
  </div>
</div>
