/* You can add global styles to this file, and also import other style files */
/* TODO: Check if this import is duplicat of import in angular-cli -> styles*/
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


html,
body {
  margin  : 0;
  padding : 0;
  height  : 100%;
}

body {
  padding-top : 54px;
}
