.footer {
  position         : absolute;
  bottom           : 0;
  width            : 100%;
  /* Set the fixed height of the footer here */
  height           : 60px;
  line-height      : 60px; /* Vertically center the text there */
  background-color : #F5F5F5;
}
