<p>
  login works!
</p>

<div class="alert alert-danger" role="alert" *ngIf="message">
  {{ message }}
</div>

<form class="form-inline" *ngIf="!authService.getUser()">
  <div class="form-group">
    <label for="username">Username: </label>
    <input name="username" #username>
  </div>

  <div class="form-group">
    <label for="password">Password: </label>
    <input type="password" name="password" #password>
  </div>

  <button (click)="login(username.value, password.value)"
          type="button" class="btn btn-success" >Submit</button>

</form>

<div *ngIf="authService.getUser()">
  Logged in as <b>{{ authService.getUser() }}</b>
  <a href (click)="logout()">Log out</a>
</div>

