<form class="">
  <h3 class="">Add an Event</h3>

  <div class="">
    <label for="title">Title:</label>
    <input name="title" id="title" #newtitle>  <!-- changed -->
  </div>
  <div class="">
    <label for="description">description:</label>
    <input name="description" id="description" #newdescription> <!-- changed -->
  </div>

  <!-- added this button -->
  <button (click)="addEvent('' ,newtitle, newdescription)" class="">
    Submit
  </button>

</form>
